.fornecedores {
  background: #f8f8f8;
  padding-bottom: 80px;
}

.fornecedores-bg h1 {
  color: #00399e;
  padding-top: 80px;
  padding-bottom: 80px;
}

.fornecedores-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
