.fornecedores {
  background: #f8f8f8;
  padding-bottom: 80px;
}

.fornecedores-bg h1 {
  color: #00399e;
  padding-top: 80px;
  padding-bottom: 80px;
}

.fornecedores-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .fornecedores-bg h1 {
    font-size: 60px;
  }
  .fornecedores-lista {
    gap: 60px;
  }
}

@media (max-width: 650px) {
  .fornecedores-lista li {
    gap: 40px;
    width: 25%;
  }
  .fornecedores-bg h1 {
    font-size: 50px;
    line-height: 54px;
    padding-bottom: 60px;
  }
}
