.introducao {
  background-image: url(../imagens/bg-intro.png);
}
.introducao img {
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (max-width: 650px) {
  .introducao {
    height: 600px;
  }
  .introducao img {
    padding-top: 200px;
  }
}
