.menu {
  display: grid;
  grid-template-columns: 1fr;
}

.menu1 {
  grid-area: 1/1;
  height: 40px;
  background-color: #302c27;
}
.menu1 ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: 8px 8px;
}
.menu1 li:first-child {
  padding-right: 120px;
}
.menu1 li {
  margin-right: 8px;
}
.menu-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  background-color: #100f0e;
}
.menu-2 img {
  margin-left: auto;
}

#menu-lista {
  display: flex;
  box-sizing: border-box;
  align-self: center;
  padding-right: 120px;
  flex-wrap: wrap;
  color: #e1e1e1;
  gap: 32px;
  font-size: 18px;
  line-height: 32px;
  font-family: "Poppins";
}

#menu-lista a {
  position: relative;
}

#menu-lista a::before {
  content: "";
  height: 8px;
  width: 16px;
  background-color: #f88b14;
  position: absolute;
  left: -20px;
  top: 10px;
}

#menu-lista a:hover::before {
  background-color: #ff8704;
  height: 12px;
  top: 8px;
}
#btn-mobile {
  display: none;
}
@media (max-width: 850px) {
  #menu-lista {
    padding-right: 24px;
    gap: 24px;
    font-size: 16px;
  }
  .menu1 li:first-child {
    padding-right: 10px;
  }
}

@media (max-width: 600px) {
  #btn-mobile {
    display: block;
    padding: 8px 8px;
    margin: auto 24px;
  }
  #menu-lista {
    display: none;
    position: absolute;
    width: 50%;
    top: 40px;
    left: 40%;
    z-index: 1000;
    transition: 0.6s;
  }

  #nav.active #menu-lista {
    display: block;
  }
  #btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid;
    color: #e1e1e1;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    background: currentColor;
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
