.nossasofertas-bg {
  background: #ffdd29;
  height: min-content;
}

.ofertas ul {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 32px;
}

@media (max-width: 650px) {
  .ofertas ul img {
    width: auto;
    height: 250px;
  }
  .ofertas ul {
    gap: 12px;
  }
}
