.receitas-bg {
  background: #0a1f45;
}
.receitas {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-left: 120px;
}
.receitas img {
  margin-right: 0px;
}

.receitas h1 {
  color: #f0f0f0;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 80px;
}

.ingredientes-bg {
  background: #0c182f;
  border-radius: 4px;
  margin-bottom: 80px;
  position: relative;
}

.ingredientes-bg::hover::after {
  color: #ff0003;
}

.ingredientes-bg .titulo-ingre::before {
  content: "";
  height: 32px;
  width: 10px;
  background: #ff0003;
  position: absolute;
  left: -4px;
  top: 60px;
}

.titulo-ingre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  padding-top: 40px;
  max-width: 75ch;
  color: #b0b0b0;
  grid-column: 1/-1;
}

.ingredientes-bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Slide */

.slider-ingre {
  margin: 0px 50%;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content-ingre {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content-ingre input,
.img-mobile-ingre {
  display: none;
}

.slide-box-ingre {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box-ingre img {
  width: 100%;
}

.nav-manual-ingre,
.nav-auto-ingre {
  display: flex;
  position: absolute;
  width: 100%;
  margin-top: 26%;
  margin-left: -300px;
  justify-content: center;
}

.nav-manual-ingre .manual-btn-ingre,
.nav-auto-ingre div {
  border: 2px solid #e40707;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual-ingre .manual-btn-ingre:not(:last-child),
.nav-auto-ingre div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual-ingre .manual-btn-ingre:hover {
  background-color: #e40707;
}

#radio-ingre1:checked ~ .nav-auto-ingre .auto-btn-ingre1,
#radio-ingre2:checked ~ .nav-auto-ingre .auto-btn-ingre2,
#radio-ingre3:checked ~ .nav-auto-ingre .auto-btn-ingre3 {
  background-color: #e40707;
}

#radio-ingre1:checked ~ .primeiro-ingre {
  margin-left: 0%;
}

#radio-ingre2:checked ~ .primeiro-ingre {
  margin-left: -25%;
}

#radio-ingre3:checked ~ .primeiro-ingre {
  margin-left: -50%;
}

@media screen and (max-width: 900px) {
  .img-desktop-ingre {
    display: none;
  }
  .img-mobile-ingre {
    display: block;
  }
  .nav-auto-ingre,
  .nav-manual-ingre {
    margin-top: 26%;
    margin-left: -150px;
  }
}

@media (max-width: 900px) {
  .receitas h1 {
    font-size: 50px;
    line-height: 64px;
  }
  .titulo-ingre {
    font-size: 24px;
    line-height: 32px;
  }

  .ingredientes-bg {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .ingredientes-bg::after {
    display: none;
  }
  .receitas {
    grid-template-columns: 1fr;
    margin-left: 12px;
    margin-right: 12px;
    justify-content: center;
  }
  .receitas .pizza {
    display: none;
  }
  .receitas h1 {
    font-size: 40px;
    line-height: 45px;
    padding-right: 60px;
    padding-left: 60px;
  }
}
